<?xml version="1.0"?>
<launch>
  <!-- <arg name="rate" default="1.0"/> -->
  <arg name="ros_node_state" default="true"/>
  <arg name="use_sensors_battery_state" default="false"/>

  <node pkg="system_monitor_ros" name="system_monitor_ros" type="system_monitor.py" output="screen">
    <param name="ros_node_state" value="$(arg ros_node_state)"/>
    <param name="use_sensors_battery_state" value="$(arg use_sensors_battery_state)"/>
  </node>
</launch>
